/* General */
body {
  background-color: #f5e046;
  color: black;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  background-image: url(text/fullpage.png);
  background-size: 100%;

  background-image: linear-gradient(90deg,
    transparent 79px,
    #cc5552 79px,
    #cc5552 81px,
    transparent 81px),
    linear-gradient(#2087ba .1em,
      transparent .1em);
  background-size: 100% 2em;
}
  
h1 {
  color: black;
  font-size: 5.625rem;
  font-family: 'Balboa Extra Black', sans-serif;
}

h2 {
  color: black;
  font-family: 'Balboa Extra Bold', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  
}

h3 {
  color: black;
  font-family: 'Balboa light', sans-serif;
}

p {
  line-height: 2;
}


a{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: darkslategrey;
}

/* Section layouts */
.section{
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-size: 100%;
  background-position-x: 0%;
  background-position-y: 0%;

}
.section-heading{
  width: 50vw;
  transform: translateY(0%) translateX(0%);
  
}
.sub-heading{
  width: 50vw;
  transform: translateY(0%) translateX(0%);
}

.section-text{
  font-size: 1.1em;
  text-shadow: 1px 1px 10px black;
  font-weight: bolder;
}
.section-header{
  
}

/* Navagation */
nav{
  background-color: #f5e046;
}
.navbar{
  background-image: linear-gradient(90deg,
    transparent 79px,
    #cc5552 79px,
    #cc5552 81px,
    transparent 81px);
  background-size: 100% 2em;
  height: 3.5vw;
}
.navbar-brand-img{
  transform: translateY(0%) translateX(-10%);
  width: 4vw;
}
#navbarNavDropdown{
padding-left: 69.5vw;
}
.navbar-nav{
text-align: right;
}
.nav-link{

}
.nav-link:hover{
color: darkslategrey;
}
.nav-btn{
  height: 2vh;
}

/* title */
#title{
  padding: 25vh 0 0 2vw;
  
}

.skills{
  background: url(imgs/STICKYNOTE-ORANGE.png) no-repeat center; 
  background-size: cover;
  width: 32vw;
  position: relative;
  transform: rotate(4deg);
}
.interest{
  background: url(imgs/STICKNOTE-GREEN.png) no-repeat center; 
  background-size: cover;
  width: 32vw;
  position: relative;
  transform: rotate(-3deg);
}
.how{
  background: url(imgs/STICKYNOTE-YELLOW.png) no-repeat center; 
  background-size: cover;
  width: 32vw;
  position: relative;
  transform: rotate(2deg);
}
.title-text{
  width: 20vw;
  transform: rotate(deg);
 
}
.label{
  width: 60vw;
  transform: translateY(40%) translateX(30%);
}


/* Unique */
#unique{
  padding-top: 10vh;
  padding-bottom: 20vh;
}
.about-header{
}
#unique-heading{
  width: 55vw;
  transform: translateY(0%) translateX(0%);
}
#unique-sub-heading{
  width: 25vw;
  
}
#unique-content{

}
#policy{

}
.unique-photo{
  width: 20vw;
}
#majority-black-benefits{
  transform: rotate(-7deg) translateY(0%) translateX(45%);
  width: 22vw;
}
#mulityear-commitment{
  transform: rotate(5deg) translateY(3%) translateX(-45%);
  width: 27vw;
}

/* Join */
#join{
  padding-top: 10vh;
}
#join-heading{
  transform: translateY(0%) translateX(45%);
}
.milenial{
  margin-top: 5vh;
  background: url(imgs/STICKYNOTE-YELLOW.png) no-repeat center; 
  background-size: cover;
  width: 24vw;
  position: relative;
  transform: rotate(2deg) translateY(3%) translateX(75%);
}
.milenial-text{
  width: 17vw;
  transform: rotate(deg) ;
}
.genx{
  margin-top: 8vh;
  background: url(imgs/STICKYNOTE-YELLOW.png) no-repeat center; 
  background-size: cover;
  width: 26vw;
  position: relative;
  transform: rotate(-4deg) translateY(6%) translateX(125%);
}
.genx-text{
  width: 17vw;
  transform: rotate(deg) ;
}
.jobs{
  width: 27vw;
  transform: rotate(0deg) translateY(6%) translateX(35%);
}
.carrer{
  width: 25vw;
  transform: rotate(0deg) translateY(-6%) translateX(30%);
}

/* Launch */
#launch{
  padding-top: 8vh;
  padding-bottom: 20vh;
  padding-left: 10vw;
}
.twenty-three{
  width: 15vw;
  padding-bottom: 4vh;
}
.plan{
  padding: 3%;
  background: url(imgs/STICKNOTE-GREEN.png) no-repeat center; 
  background-size: cover;
  width: 24vw;
  position: relative;
  transform: rotate(4deg) translateY(-6%) translateX(30%);
}
.plan-text{
  height: 10vw;
  padding: 3%;
}
.twenty-four{
  width: 26vw;
  padding-bottom: 4vh;
}
.speaker{
  padding: 3%;
  background: url(imgs/STICKNOTE-GREEN.png) no-repeat center; 
  background-size: cover;
  width: 24vw;
  position: relative;
  transform: rotate(-2deg) translateY(-6%) translateX(30%);
}
.speaker-text{
  height: 10vw;
  padding: 3%;
}
.twenty-six{
  width: 15vw;
  padding-bottom: 5vh;
  transform: rotate(-2deg) translateY(10%) translateX(0%);
}
.blueprint{
  padding: 3%;
  background: url(imgs/STICKNOTE-GREEN.png) no-repeat center; 
  background-size: cover;
  width: 24vw;
  position: relative;
  transform: rotate(-3deg) translateY(-6%) translateX(30%);
}
.blueprint-text{
  height: 10vw;
  padding: 3%;
}
.twenty-seven{
  width: 15vw;
  padding-bottom: 5vh;
  transform: translateY(17%) translateX(0%);
}
.sale{
  padding: 3%;
  background: url(imgs/STICKNOTE-GREEN.png) no-repeat center; 
  background-size: cover;
  width: 24vw;
  position: relative;
  transform: rotate(1deg) translateY(-6%) translateX(30%);
}
.sale-text{
  height: 10vw;
  padding: 3%;
}


/* Contact */
#contact{
  padding-bottom: 0;
}
#contact-header{
  padding-left: 40%;
}
.contact-heading{
  width: 20vw;
  transform: translateY(34%) translateX(0%);
}
.contact-sub-heading{
  width: 15vw;
  transform: translateY(95%) translateX(12%);
}
.polaroid-container{
  padding-top: 5vh;
}
.bio-photo-terrence{
  transform: rotate(4deg);
  width: 25vh;
}
.first{
  padding-bottom: 5vh;
}
.TerenceTaylor{
  height: 50vh;
  transform: rotate(2deg) translateY(10%) translateX(-10%);
}
.www{
  padding: 3%;
  background: url(imgs/STICKYNOTE-ORANGE.png) no-repeat center; 
  background-size: cover;
  width: 24vw;
  height: 30vh;
  position: relative;
  transform: rotate(-4deg) translateY(40%) translateX(-50%);
}
.www-text{
  width: 17vw;
  transform: rotate(-10deg) translateY(350%) translateX(-5%);
}
.indexcard{
  width: 40vw;
  height: 20vw;
  background-image: url("imgs/Indexcard.png");
  background-size: 100%;
  position: absolute;
  z-index: 1;
  transform: rotate(4deg) translateY(-135%) translateX(132%);
}
.name{
  transform: translateY(250%) translateX(0%);
}
.name-box{

}
.email{
  transform: translateY(269%) translateX(0%);
}
.email-box{

}
.message{
  transform: translateY(130%) translateX(0%);
}
#message-box{
  height: 8vh;
}


/* Footer */
    .footer{
      background-image: linear-gradient(90deg,
        transparent 79px,
        #cc5552 79px,
        #cc5552 81px,
        transparent 81px);
      background-size: 100% 2em;
      height: 2vh;
      padding: 0;
      margin: 0;
    }
    .footer-brand-img{
      height: 4vw;
      width: 20vw;
      transform: translateY(0%) translateX(-5%);
    }
    .footer-link{
      color: black;
    }
    .footer-link:hover {
      color: #121212;
    }
    .footer-logo{
      
    }
    .social-container{
      text-align: right;
    }
